body{
    background-color: bisque;
    font-size: 30px;
}

button{
    color: rgba(97, 81, 63, 0.651);
    background-color: bisque;
    border-radius: 20px;
    border-color: rgb(206, 183, 156);
    font-size: 30px;
}

h1{
    font-family: 'Lucida Handwriting';
    font-size: 90px;
}

.imageRating{
    width: auto;
    height: 200px;
}

