body{
    background-color: #173F5F;
    font-size: 30px;
}
div.container{
    max-width: 600px;
    margin: 0 auto;
    display: grid; 
    justify-items: center;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 210px 210px 50px;
    grid-template-areas: 
        'header header header'
        'body body body'
        'body body body'
        'footer footer footer';
}
.backButton{
    grid-area: header;
    align-self: start;
    justify-self: start;
    color: #000000;
    background-color:#ED553B;
    border-radius: 20px;
    border-color:  #20639B;
    font-size: 30px;
    padding: 10px;
    width: 150px;
}
.headline{
    grid-area: header;
    align-self: center;
    justify-self: center;
    font-family: 'Lucida Handwriting';
    font-size: 30px;
    color: #F6D55C;
    width: fit-content;
    height: fit-content;
}
.frontImage{
    grid-area: body;
    align-self: center;
}
.frontPageButtons{
    grid-area: footer;
    align-self: start;
}
.buttonMainPage{
    color: #000000;
    background-color:#3CAEA3;
    border-radius: 20px;
    border-color:  #20639B;
    font-size: 25px;
    padding: 10px;
}


.imageRating{
    grid-area: body;
    align-self: start;
}
.leftArrow{
    grid-area: body;
    justify-self: start;
    align-self: center;
    color: #000000;
    background-color:#F6D55C;
    border-radius: 20px;
    border-color:#20639B;
    font-size: 25px;
    padding: 10px;
    height: 80px;
}
.rightArrow{
    grid-area: body;
    align-self: center;
    justify-self: end;
    color: #000000;
    background-color:#F6D55C;
    border-radius: 20px;
    border-color:#20639B;
    font-size: 25px;
    padding: 10px;
    height: 80px;
}
.ratingPoints{
    grid-area: body;
    align-self: end;
    justify-self: center;
    color: #ED553B;
    font-family: 'Bahnschrift';
    font-size: 55px;
}
.ratingName{
    grid-area: header;
    align-self: end;
    justify-self: center;
    font-size: 70px;
    font-family: 'Lucida Handwriting';
}
.mainRating{
    grid-column-start: footer;
    align-self: end;
    max-width: 600px;
    margin: 0 auto;
    display: grid; 
    justify-items: center;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(50px);
    grid-template-areas: 
    'leftside mid rightside'; 
}
.ratingSliderNames{
    grid-area: leftside;
    justify-self: start;
    color:#3CAEA3;
    font-size: 23px;
    font-family: 'Bahnschrift';
}
.slideBar{
    grid-area: mid;
    width: 200px;
    height: 20px;
}
.barRatings{
    grid-area: rightside;
    color: #F6D55C;
    font-family: 'Bahnschrift';
    font-size: 40px;
}


.top3Rated{
    grid-area: body;
    max-width: 600px;
    margin: 0 auto;
    display: grid; 
    justify-items: center;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 50px 50px 200px 50px;
    grid-template-areas: 
    't1side t1mid t1end'
    't2side t2mid t2end'
    't3side t3mid t3end'
    't4side t4mid t4end';
}
.top3Ratedtitle{
    grid-area: header;
    align-self: end;
    font-size: 50px;
    font-family: 'Lucida Handwriting';
    color: #F6D55C;
}
.TopRatedName1{
    grid-area: t1side;
    font-family: 'Bahnschrift';
    font-size: 30px;
}
.TopRatedOwner1{
    grid-area: t2side; 
    font-family: 'Bahnschrift';
    font-size: 20px;
}
.TopRatedCat1{
    grid-area: t3side;
    justify-self: center;
    align-self: center;
}
.TopRatedScore1{
    grid-area: t4side;
    align-self: start;
    font-family: 'Bahnschrift';
    font-size: 50px;
    color: #ED553B;
}
.TopRatedName2{
    grid-area: t1mid;
    font-family: 'Bahnschrift';
    font-size: 30px;
}
.TopRatedOwner2{
    grid-area: t2mid; 
    font-family: 'Bahnschrift';
    font-size: 20px;
}
.TopRatedCat2{
    grid-area: t3mid;
    justify-self: center;
    align-self: center;
}
.TopRatedScore2{
    grid-area: t4mid;
    align-self: start;
    font-family: 'Bahnschrift';
    font-size: 50px;
    color: #ED553B;
}
.TopRatedName3{
    grid-area: t1end;
    font-family: 'Bahnschrift';
    font-size: 30px;
}
.TopRatedOwner3{
    grid-area: t2end; 
    font-family: 'Bahnschrift';
    font-size: 20px;
}
.TopRatedCat3{
    grid-area: t3end;
    justify-self: center;
    align-self: center;
}
.TopRatedScore3{
    grid-area: t4end;
    align-self: start;
    font-family: 'Bahnschrift';
    font-size: 50px;
    color: #ED553B;
}
.allCatsratings{
    grid-area: footer;
    align-self: start;
    font-size: 30px;
    font-family: 'Lucida Handwriting';
    color: #F6D55C;
}


.ratedAllTime{
    max-width: 600px;
    margin: 0 auto;
    grid-column-start: footer;
    align-self: end;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 70px);
    grid-template-areas: 
    'img img content1'
    'img img content2'
    'img img content3'
    'img img content4';  
}
.allCatsRatedName{
    grid-area: content1;
    font-family: 'Bahnschrift';
    font-size: 30px;
    padding-left: 20px;
}
.allCatsRatedOwner{
    grid-area: content2;
    font-family: 'Bahnschrift';
    font-size: 20px;
    padding-left: 20px;
    color: #3CAEA3;
}
.allCatsRatedPoints{
    grid-area: content2;
    align-self: start;
    font-family: 'Bahnschrift';
    font-size: 60px;
    padding-left: 20px;
    color: #ED553B;
}
.allCatsRatedImg{
    grid-area: img;
    justify-self: end;
}



.logInnButton{
    grid-area: body;
    align-self: center;
    color: #000000;
    background-color:#2bb75e;
    border-radius: 20px;
    border-color:  #20639B;
    font-size: 30px;
    padding: 10px;
    width: 150px;
    margin-top: 50px;
}
.createAccountButton{
    grid-area: footer;
    align-self: end;
    color: #000000;
    background-color:#F6D55C;
    border-radius: 20px;
    border-color:  #20639B;
    font-size: 30px;
    padding: 10px;
    width: 250px;
}
.logInSite{
    grid-column: 2 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-top: 100px;
}
.passwordUsernameBox{
    font-size: 40px;
    height: 50px;
    width: 350px;
}
.logInBoxName{
    font-size: 40px;
    font-family: 'Bahnschrift';
}
.notLoggedIn{
    grid-area: body;
    align-self: end;
    font-family: 'Bahnschrift';
    font-size: 40px;
}


.wrongLogIn{
    grid-area: body;
    grid-row: 3 / 3;
    justify-self: center;
    font-family: 'Bahnschrift';
    color:#ED553B
}


.LogOutButton{
    grid-area: header;
    align-self: start;
    justify-self: end;
    color: #000000;
    background-color:#3CAEA3;
    border-radius: 20px;
    border-color:  #20639B;
    font-size: 30px;
    padding: 10px;
    width: 150px;
}
.UploadCatImageButton{
    grid-column: 2 / 3;
    grid-row: 3 / 3;
    color: #000000;
    background-color:#F6D55C;
    border-radius: 20px;
    border-color:  #20639B;
    font-size: 30px;
    padding: 10px;
    height: 80px;
}
.welcomeProfile{
    grid-area: header;
    align-self: end;
    justify-self: center;
    font-family: 'Bahnschrift';
    padding-top: 150px;
    font-size: 30px;
    color: #F6D55C;
}
.userImage{
    grid-area: body;
    align-self: start;
    justify-self: start;
    padding: 20px;
}
.updateInfoButton{
    grid-column: 3 / 3;
    grid-row: 3 / 3;
    color: #000000;
    background-color:#2bb75e;
    border-radius: 20px;
    border-color:  #20639B;
    font-size: 30px;
    padding: 10px;
    height: 50px;  
}
.userInfoBox{
    max-width: 600px;
    margin: 0 auto;
    grid-column: 2;
    grid-row: 2;
    display: grid;
    border: #000000 solid 2px;
    grid-template-columns: 200px 180px;
    grid-template-rows: 200px;
    grid-template-areas: 
    'info info'; 
}
.userInfo{
    grid-area: info;
    align-self: start;
    justify-self: start;
    color: azure;
    font-family: 'Bahnschrift';
    font-size: 20px;
    word-wrap: break-word;
}
.inputUserInfoBox{
    font-size: 20px;
    height: 200px;
    width: 372px;
}

.profileShowCat{
    max-width: 600px;
    margin: 0 auto;
    grid-column-start: footer;
    align-self: end;
    display: grid;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(4, 70px);
    grid-template-areas: 
    'img img content1'
    'img img content2'
    'img img content3'
    'img img content4'; 
}
.profileCatImg{
    grid-area: img;
    justify-self: end;
}
.profileCatName{
    grid-area: content1;
    font-family: 'Bahnschrift';
    font-size: 30px;
    padding-left: 20px;
}
.profileCatScore{
    grid-area: content3;
    align-self: start;
    font-family: 'Bahnschrift';
    font-size: 30px;
    padding-left: 20px;
    color: #ED553B;
}
.noCatsAvaliable{
    grid-area: img;
    align-self: start;
    justify-self: center;
    color: #ED553B;
}
.explainedUploadCat{
    font-size: 30px;
    color: #ED553B;
    font-family: 'Bahnschrift';
}